.BusinessList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2vmax;
}
.not-here {
  width: auto;
  display: flex;
  font-family: Poppins, sans-serif;
  flex-wrap: wrap;
  font-size: 2rem;
  justify-content: space-around;
  text-align: center;
  border: solid 1rem #cca353;
  padding: 1%;
}
